<div>
    <div class="m-b-36">
        <div fxFlex fxLayout="row" fxLayoutAlign="center center">
            <div fxFlex>
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px" (keydown)="keyDownFunction($event)">
                    <div class="position-relative">
                        <mat-form-field appearance="outline" class="searchbox">
                            <mat-label>Please enter a tag</mat-label>
                            <input [(ngModel)]="tag" autocomplete="off" name="tag" matInput placeholder="">
                        </mat-form-field>
                        <button (click)="clearSearchBox()" mat-icon-button class="clear-icon">
                            <i class="fa fa-times"></i>
                        </button>
                        <i class="search-icon fa fa-search"></i>
                    </div>

                    <button [disabled]="isLoading" (click)="search()" mat-raised-button class="submit-button">Submit</button>
                    <mat-spinner *ngIf="isLoading" [diameter]="20"></mat-spinner>
                </div>
                <div *ngIf="errorOccurred" class="primary-color">
                    No results found. Please try a different tag.
                </div>
            </div>
        </div>
    </div>
    <div class="m-b-24">
        <h3 class="m-b-8">Requests</h3>
        <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="start center" >
            <div class="p-b-4">Sorted by</div>
            <div fxLayout="row" fxLayoutGap="8px">
                <button mat-button (click)="sort('view')">Number of views</button>
                <button mat-button (click)="sort('datetaken')">Date when the photo was taken</button>
                <button mat-button (click)="sort('dateuploaded')">Date when the photo was uploaded</button>
            </div>
        </div>
        <div fxLayout="row wrap" fxLayoutGap="16px">
            <div *ngFor="let result of results">
                <app-tag-card [tag]="result"></app-tag-card>
            </div>
        </div>
    </div>
</div>

